.landpage {
   min-height: 90vh;
}

.fotoproduk {
    width: 348px; height: 348px;
    border-radius: 10px;
}

.fotoproduk_bayar {
    height: 100px;
    width: 100px; 
    border-radius: 10px;
}

.price {
    font-family: "Open Sauce One", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
}

.price_bayar {
    font-family: "Open Sauce One", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

input.number-to-text::-webkit-outer-spin-button,
input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].number-to-text {
    -moz-appearance: textfield;
}

.upload_fotoprofil::-webkit-file-upload-button {
    visibility: hidden;
}

.upload_fotoprofil::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.upload_fotoprofil:hover::before {
    border-color: black;
}
.upload_fotoprofil:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}